@font-face {
  font-family: 'goudy-bookletter';
  src: url('Goudy_Bookletter_1911/GoudyBookletter1911-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vast-shadow';
  src: url('Vast_Shadow/VastShadow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 24px;
  font-family: goudy-bookletter, Georgia, serif;
  background: #fff;
  color: hsl(0, 30%, 20%);
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

button {
  font-family: 'goudy-bookletter';
  font-size: 2.5em;
  cursor: pointer;
  padding: 0.25em;
  border-radius: 0.25em;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  background-color: #fff;
  min-width: 44px;
  margin-right: 46px;
}

.outer-container {
  display: flex;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.presentation {
  width: 100vw;
  position: relative;
}

.full-frame-caption {
  position: absolute;
  background-color: hsl(20, 35%, 5%);
  color: hsl(20, 10%, 95%);
  opacity: 1;
  width: 100%;
  height: 100%;
}

body:not(.stage-0) #intro {
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-out opacity,
    1s visibility allow-discrete;
}

body:not(.stage-2) #voted-off {
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-out opacity,
    1s visibility allow-discrete;
}

body:not(.stage-4) #pods {
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-out opacity,
    1s visibility allow-discrete;
}

.area .title {
  font-family: vast-shadow;
  font-weight: 1000;
  font-size: 72px;
}


.area .small-title {
  font-family: vast-shadow;
  font-weight: 1000;
  font-size: 36px;
}

.area rect {
  fill: #b2873d;
  stroke-width: 2;
  stroke: #362a03;
}

.character circle {
  fill: white;
  stroke: #362a03;
}

foreignObject div {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  align: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}
